
header {
  position: relative;
  height: 200px;
}
.back {
   position:absolute;
   top: 0;
   left:0;
   width: 100%;
   height: 100%;
   z-index: -1;
    }
.front{
   width: 300px;
   height: 150px;
   top: 50px;
   left: 50px;
   z-index: 1;
}
.character-img {
   width: 240px;
   height: 180px;
}
.spell-img {
    width: 240px;
    height: 180px;
 }
 .funFact-img {
  width: 240px;
  height: 180px;
}
.potion-img {
  width: 240px;
  height: 180px;
}
.card-container {
   display: flex;
   flex-wrap: wrap;
 }
 
 .card-container > div {
   margin: 10px;
   padding: 10px;
   border: 1px solid black;
   width: 280px;
 }
 .card-text-container {
  display: flex;
  flex-wrap: wrap;
  display: none;
}

.card-text-container > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 280px;
}
.card-text-container--visible {
  display: block;
}
.spell-container {
  display: flex;
  flex-wrap: wrap;
}

.spell-container > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 280px;
}
.spell-text-container {
 display: flex;
 flex-wrap: wrap;
 display: none;
}

.spell-text-container > div {
 margin: 10px;
 padding: 10px;
 border: 1px solid black;
 width: 280px;
}
.spell-text-container--visible {
  display: block ;
}
.funFact-container {
  display: flex;
  flex-wrap: wrap;
}

.funFact-container > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 280px;
}
.book-container {
  display: flex;
  flex-wrap: wrap;
}

.book-container > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 280px;
}
.book-text-container {
 display: flex;
 flex-wrap: wrap;
 display: none;
}
.book-text-container > div {
 margin: 10px;
 padding: 10px;
 border: 1px solid black;
 width: 280px;
}
.book-text-container--visible {
 display: block;
}
.potion-container {
  display: flex;
  flex-wrap: wrap;
}

.potion-container > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 280px;
}
.potion-text-container {
 display: flex;
 flex-wrap: wrap;
 display: none;
}

.potion-text-container > div {
 margin: 10px;
 padding: 10px;
 border: 1px solid black;
 width: 280px;
}
.potion-text-container--visible {
 display: block;
}
.menu {
  background-color: #1a202C;
  color: white;
  height: 70px;
}

.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.menu_links {
  height: 100%;
  transition: transform .5s;
  display: flex;
}

.menu_item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0,100% 0,100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu_item:hover{
  --clip: polygon(0 0,100% 0,100% 100%, 0 100%);
  --transform: rotate(0);
}

.menu_link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu_link:hover{
  background-color: #5e7094;
}

.menu_in{
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: black;
}

.menu_arrow {
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;
}

.menu_link--inside{
  padding: 30px 100px 30px 20px;
}

.menu_link--inside:hover{
  background-color: #798499;
}
